.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #2A2A40;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
  }
  
  .pagination-button:hover {
    background-color: #333342;
  }
  
  .pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination-text {
    margin: 0 10px;
    font-size: 16px;
  }
  