.user-data {
  padding: 10px;
  transition: border 0.3s ease-in-out;
}

.user-data.new-data {
  border: 2px solid rgb(138, 156, 138);
  background-color: #3a3939;
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: #3a3939;
  }
  50% {
    background-color: rgb(138, 156, 138);
  }
  100% {
    background-color: #3a3939;
  }
}
