body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
}
