header {
  background-color: #f8f9fa;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.nav-link {
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.nav-link-active {
  font-weight: bold;
  text-decoration: underline;
  color: #007bff;
}
