.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
}

.search_side {
  background-color: #888;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.result_side {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 20px;
}
