body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
}

.search_side {
  background-color: #2a2a40;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search_side input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #333;
  color: #d1d1e0;
}

.search_side button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #434355;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.search_side button:hover {
  background-color: #6d6d74;
}

.result_side {
  width: 100%;
  max-width: 800px;
  background-color: #2a2a40;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.result_side h2 {
  margin-bottom: 20px;
  color: #d1d1e0;
}

.result_side ul {
  list-style-type: none;
  padding: 0;
}

.result_side li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #444;
  padding: 15px 0;
}

.result_side li:last-child {
  border-bottom: none;
}

.result_side li div {
  margin-bottom: 5px;
  color: #d1d1e0;
}

.result_side .character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result_side .character-header .character-id {
  font-weight: bold;
  color: #e3e3ff;
}

.result_side .character-header .character-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #e3e3ff;
}

.result_side .character-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.result_side .character-details div {
  flex: 1 1 45%;
  background-color: #3a3a50;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  color: #e3e3ff;
}
